# Join Statements

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [2]:
import sqlite3
import pandas as pd
con = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = con.cursor()

## Display the names of all the employees in Boston.

In [3]:
cur.execute("""select * from offices
                        join employees
                        using(officeCode);
                       """)
df = pd.DataFrame(cur.fetchall()) #Take results and create dataframe
df.columns = [i[0] for i in cur.description]
boston_employee = df.loc[df.city == 'Boston']
boston_employee.loc[: ,['firstName','lastName']]

  firstName   lastName
6     Julie   Firrelli
7     Steve  Patterson

## Do any offices have no employees?

In [23]:
cur.execute("""select * from offices
                        join employees
                        using(officeCode);
                       """)
df = pd.DataFrame(cur.fetchall()) 
df.columns = [i[0] for i in cur.description]
df[df.lastName.isnull()].head()

Empty DataFrame
Columns: [officeCode, city, phone, addressLine1, addressLine2, state, country, postalCode, territory, employeeNumber, lastName, firstName, extension, email, reportsTo, jobTitle]
Index: []

## Write 3 Questions of your own and answer them

In [7]:
cur.execute("""select * from payments
                        join customers using(customerNumber)
                        join orders using (customerNumber);
                       """)
df = pd.DataFrame(cur.fetchall()) 
df.columns = [i[0] for i in cur.description]
same_day_df = df.loc[df.orderDate == df.paymentDate]
df.head()
#who paid the same day they ordered?

,customerNumber,checkNumber,paymentDate,amount,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,...,postalCode,country,salesRepEmployeeNumber,creditLimit,orderNumber,orderDate,requiredDate,shippedDate,status,comments
0,103,HQ336336,2004-10-19,6066.78,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,...,44000,France,1370,21000.00,10123,2003-05-20,2003-05-29,2003-05-22,Shipped,
1,103,HQ336336,2004-10-19,6066.78,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,...,44000,France,1370,21000.00,10298,2004-09-27,2004-10-05,2004-10-01,Shipped,
2,103,HQ336336,2004-10-19,6066.78,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,...,44000,France,1370,21000.00,10345,2004-11-25,2004-12-01,2004-11-26,Shipped,
3,103,JM555205,2003-06-05,14571.44,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,...,44000,France,1370,21000.00,10123,2003-05-20,2003-05-29,2003-05-22,Shipped,
4,103,JM555205,2003-06-05,14571.44,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,...,44000,France,1370,21000.00,10298,2004-09-27,2004-10-05,2004-10-01,Shipped,

In [15]:

cur.execute('''SELECT orderNumber FROM orders WHERE orderDate = shippedDate;''').fetchall()
#tried to see if any order shipped the same day. Apparently not?

[]

In [11]:
cur.execute("""select * from payments
                        join customers using(customerNumber);
                       """)
df = pd.DataFrame(cur.fetchall()) 
df.columns = [i[0] for i in cur.description]
over_df = df.loc[df.amount.sum() > df.creditLimit]
over_df
#list of customers who made payments that exceeded their credit limits

,customerNumber,checkNumber,paymentDate,amount,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,103,HQ336336,2004-10-19,6066.78,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370,21000.00
1,103,JM555205,2003-06-05,14571.44,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370,21000.00
2,103,OM314933,2004-12-18,1676.14,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370,21000.00
6,114,GG31455,2003-05-20,45864.03,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611,117300.00
7,114,MA765515,2004-12-15,82261.22,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611,117300.00
8,114,NP603840,2003-05-31,7565.08,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611,117300.00
9,114,NR27552,2004-03-10,44894.74,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611,117300.00
10,119,DB933704,2004-11-14,19501.82,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",,Nantes,,44000,France,1370,118200.00
11,119,LN373447,2004-08-08,47924.19,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",,Nantes,,44000,France,1370,118200.00
12,119,NG94694,2005-02-22,49523.67,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",,Nantes,,44000,France,1370,118200.00
17,124,AE215433,2005-03-05,101244.59,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00
18,124,BG255406,2004-08-28,85410.87,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00
19,124,CQ287967,2003-04-11,11044.30,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00
20,124,ET64396,2005-04-16,83598.04,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00
21,124,HI366474,2004-12-27,47142.70,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00
22,124,HR86578,2004-11-02,55639.66,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00
23,124,KI131716,2003-08-15,111654.40,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00
24,124,LF217299,2004-03-26,43369.30,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00
25,124,NT141748,2003-11-25,45084.38,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00
26,128,DI925118,2003-01-28,10549.01,"Blauer See Auto, Co.",Keitel,Roland,+49 69 66 90 2555,Lyonerstr. 34,,Frankfurt,,60528,Germany,1504,59700.00
27,128,FA465482,2003-10-18,24101.81,"Blauer See Auto, Co.",Keitel,Roland,+49 69 66 90 2555,Lyonerstr. 34,,Frankfurt,,60528,Germany,1504,59700.00
28,128,FH668230,2004-03-24,33820.62,"Blauer See Auto, Co.",Keitel,Roland,+49 69 66 90 2555,Lyonerstr. 34,,Frankfurt,,60528,Germany,1504,59700.00
29,128,IP383901,2004-11-18,7466.32,"Blauer See Auto, Co.",Keitel,Roland,+49 69 66 90 2555,Lyonerstr. 34,,Frankfurt,,60528,Germany,1504,59700.00
33,131,CL442705,2003-03-12,22292.62,Land of Toys Inc.,Lee,Kwai,2125557818,897 Long Airport Avenue,,NYC,NY,10022,USA,1323,114900.00
34,131,MA724562,2004-12-02,50025.35,Land of Toys Inc.,Lee,Kwai,2125557818,897 Long Airport Avenue,,NYC,NY,10022,USA,1323,114900.00
35,131,NB445135,2004-09-11,35321.97,Land of Toys Inc.,Lee,Kwai,2125557818,897 Long Airport Avenue,,NYC,NY,10022,USA,1323,114900.00
36,141,AU364101,2003-07-19,36251.03,Euro+ Shopping Channel,Freyre,Diego,(91) 555 94 44,"C/ Moralzarzal, 86",,Madrid,,28034,Spain,1370,227600.00
37,141,DB583216,2004-11-01,36140.38,Euro+ Shopping Channel,Freyre,Diego,(91) 555 94 44,"C/ Moralzarzal, 86",,Madrid,,28034,Spain,1370,227600.00
38,141,DL460618,2005-05-19,46895.48,Euro+ Shopping Channel,Freyre,Diego,(91) 555 94 44,"C/ Moralzarzal, 86",,Madrid,,28034,Spain,1370,227600.00
39,141,HJ32686,2004-01-30,59830.55,Euro+ Shopping Channel,Freyre,Diego,(91) 555 94 44,"C/ Moralzarzal, 86",,Madrid,,28034,Spain,1370,227600.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,381,GB117430,2005-02-03,14379.90,Royale Belge,Cartrain,Pascale,(071) 23 67 2555,"Boulevard Tirou, 255",,Charleroi,,B-6000,Belgium,1401,23500.00
212,381,MS154481,2003-08-22,1128.20,Royale Belge,Cartrain,Pascale,(071) 23 67 2555,"Boulevard Tirou, 255",,Charleroi,,B-6000,Belgium,1401,23500.00
219,386,DO106109,2003-11-18,38524.29,L'ordine Souveniers,Moroni,Maurizio,0522-556555,Strada Provinciale 124,,Reggio Emilia,,42100,Italy,1401,121400.00
220,386,HG438769,2004-07-18,51619.02,L'ordine Souveniers,Moroni,Maurizio,0522-556555,Strada Provinciale 124,,Reggio Emilia,,42100,Italy,1401,121400.00
234,447,AO757239,2003-09-15,6631.36,Gift Ideas Corp.,Lewis,Dan,2035554407,2440 Pompton St.,,Glendale,CT,97561,USA,1323,49700.00
235,447,ER615123,2003-06-25,17032.29,Gift Ideas Corp.,Lewis,Dan,2035554407,2440 Pompton St.,,Glendale,CT,97561,USA,1323,49700.00
236,447,OU516561,2004-12-17,26304.13,Gift Ideas Corp.,Lewis,Dan,2035554407,2440 Pompton St.,,Glendale,CT,97561,USA,1323,49700.00
237,448,FS299615,2005-04-18,27966.54,Scandinavian Gift Ideas,Larsson,Martha,0695-34 6555,Åkergatan 24,,Bräcke,,S-844 67,Sweden,1504,116400.00
238,448,KR822727,2004-09-30,48809.90,Scandinavian Gift Ideas,Larsson,Martha,0695-34 6555,Åkergatan 24,,Bräcke,,S-844 67,Sweden,1504,116400.00
240,452,ED473873,2003-11-15,27121.90,Mini Auto Werke,Mendel,Roland,7675-3555,Kirchgasse 6,,Graz,,8010,Austria,1401,45300.00
241,452,FN640986,2003-11-20,15130.97,Mini Auto Werke,Mendel,Roland,7675-3555,Kirchgasse 6,,Graz,,8010,Austria,1401,45300.00
242,452,HG635467,2005-05-03,8807.12,Mini Auto Werke,Mendel,Roland,7675-3555,Kirchgasse 6,,Graz,,8010,Austria,1401,45300.00
245,456,GJ715659,2004-11-13,27550.51,Microscale Inc.,Choi,Yu,2125551957,5290 North Pendale Street,Suite 200,NYC,NY,10022,USA,1286,39800.00
246,456,MO743231,2004-04-30,1679.92,Microscale Inc.,Choi,Yu,2125551957,5290 North Pendale Street,Suite 200,NYC,NY,10022,USA,1286,39800.00
247,458,DD995006,2004-11-15,33145.56,"Corrida Auto Replicas, Ltd",Sommer,Martín,(91) 555 22 82,"C/ Araquil, 67",,Madrid,,28023,Spain,1702,104600.00
248,458,NA377824,2004-02-06,22162.61,"Corrida Auto Replicas, Ltd",Sommer,Martín,(91) 555 22 82,"C/ Araquil, 67",,Madrid,,28023,Spain,1702,104600.00
249,458,OO606861,2003-06-13,57131.92,"Corrida Auto Replicas, Ltd",Sommer,Martín,(91) 555 22 82,"C/ Araquil, 67",,Madrid,,28023,Spain,1702,104600.00
253,471,AB661578,2004-07-28,9415.13,"Australian Collectables, Ltd",Clenahan,Sean,61-9-3844-6555,7 Allen Street,,Glen Waverly,Victoria,3150,Australia,1611,60300.00
254,471,CO645196,2003-12-10,35505.63,"Australian Collectables, Ltd",Clenahan,Sean,61-9-3844-6555,7 Allen Street,,Glen Waverly,Victoria,3150,Australia,1611,60300.00
255,473,LL427009,2004-02-17,7612.06,Frau da Collezione,Ricotti,Franco,+39 022515555,20093 Cologno Monzese,Alessandro Volta 16,Milan,,,Italy,1401,34800.00
256,473,PC688499,2003-10-27,17746.26,Frau da Collezione,Ricotti,Franco,+39 022515555,20093 Cologno Monzese,Alessandro Volta 16,Milan,,,Italy,1401,34800.00
257,475,JP113227,2003-12-09,7678.25,West Coast Collectables Co.,Thompson,Steve,3105553722,3675 Furth Circle,,Burbank,CA,94019,USA,1166,55400.00
258,475,PB951268,2004-02-13,36070.47,West Coast Collectables Co.,Thompson,Steve,3105553722,3675 Furth Circle,,Burbank,CA,94019,USA,1166,55400.00
264,487,AH612904,2003-09-28,29997.09,Signal Collectibles Ltd.,Taylor,Sue,4155554312,2793 Furth Circle,,Brisbane,CA,94217,USA,1165,60300.00
265,487,PT550181,2004-02-29,12573.28,Signal Collectibles Ltd.,Taylor,Sue,4155554312,2793 Furth Circle,,Brisbane,CA,94217,USA,1165,60300.00
266,489,OC773849,2003-12-04,22275.73,"Double Decker Gift Stores, Ltd",Smith,Thomas,(171) 555-7555,120 Hanover Sq.,,London,,WA1 1DP,UK,1501,43300.00
267,489,PO860906,2004-01-31,7310.42,"Double Decker Gift Stores, Ltd",Smith,Thomas,(171) 555-7555,120 Hanover Sq.,,London,,WA1 1DP,UK,1501,43300.00
270,496,EU531600,2005-05-25,30253.75,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
271,496,MB342426,2003-07-16,32077.44,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
272,496,MN89921,2004-12-31,52166.00,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00

In [24]:
cur.execute('''SELECT DISTINCT customerName FROM offices, customers WHERE customers.city = 'Boston' and offices.city = 'Boston'; ''').fetchall()
#only two companies shop in Boston as their home city

[('Diecast Collectables',), ('Gifts4AllAges.com',)]

## Level Up: Display the names of each product each employee has sold.

In [15]:
cur.execute("""SELECT * from employees e
                JOIN customers c
                ON employeeNumber = c.salesRepEmployeeNumber
                JOIN orders USING (customerNumber)
                JOIN orderdetails USING(orderNumber)
                JOIN products USING (productCode);
                """)
orders_df = pd.DataFrame(cur.fetchall())
orders_df.columns = [i[0] for i in cur.description]
#df_full = (orders_df.firstName + " " + orders_df.lastName).unique()
df1 = orders_df.loc[:, ['firstName, lastName, productName']]
#df1.head()
#|example.setdefault('a', []).append('apple')

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle,customerNumber,customerName,...,priceEach,orderLineNumber,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP
0,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143,Sales Rep,124,Mini Gifts Distributors Ltd.,...,121.64,2,1958 Setra Bus,Trucks and Buses,1:12,Welly Diecast Productions,"Model features 30 windows, skylights & glare r...",1579,77.90,136.67
1,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143,Sales Rep,124,Mini Gifts Distributors Ltd.,...,101.50,4,1940 Ford Pickup Truck,Trucks and Buses,1:18,Studio M Art Models,"This model features soft rubber tires, working...",2613,58.33,116.67
2,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143,Sales Rep,124,Mini Gifts Distributors Ltd.,...,43.27,3,1939 Cadillac Limousine,Vintage Cars,1:18,Studio M Art Models,Features completely detailed interior includin...,6645,23.14,50.31
3,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143,Sales Rep,124,Mini Gifts Distributors Ltd.,...,58.82,1,1996 Peterbilt 379 Stake Bed with Outrigger,Trucks and Buses,1:32,Red Start Diecast,"This model features, opening doors, detailed e...",814,33.61,64.64
4,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143,Sales Rep,124,Mini Gifts Distributors Ltd.,...,173.17,7,1968 Ford Mustang,Classic Cars,1:12,Autoart Studio Design,"Hood, doors and trunk all open to reveal highl...",68,95.34,194.57

AttributeError: 'str' object has no attribute 'isin'

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!